In [32]:
import pandas as pd
import random, math
from random import randint

In [33]:
lista = [[randint(0,9),randint(0,9)],[randint(0,9),randint(0,9)],[randint(0,9),randint(0,9)],
         [randint(0,9),randint(0,9)],[randint(0,9),randint(0,9)],[randint(0,9),randint(0,9)],
         [randint(0,9),randint(0,9)],[randint(0,9),randint(0,9)],[randint(0,9),randint(0,9)],
         [randint(0,9),randint(0,9)]]

In [34]:
my_list

[[9, 1],
 [3, 8],
 [4, 6],
 [1, 0],
 [4, 9],
 [6, 9],
 [4, 6],
 [0, 7],
 [4, 8],
 [1, 1]]

In [35]:
def potegowanie(x, y, x1, y1, x2, y2, x3, y3, x4, y4, x5, y5, x6, y6, x7, y7, x8, y8, x9, y9):
    my_list2 = [[x**y],[x1**y1],[x2**y2],[x3**y3],[x4**y4],[x5**y5],[x6**y6],[x7**y7],[x8**y8],[x9**y9]]
    return my_list2

In [45]:
my_list3 = potegowanie(randint(0, 9),randint(0, 9),randint(0, 9),randint(0, 9),
            randint(0, 9),randint(0, 9),randint(0, 9),randint(0, 9),
            randint(0, 9),randint(0, 9),randint(0, 9),randint(0, 9),
            randint(0, 9),randint(0, 9),randint(0, 9),randint(0, 9),
            randint(0, 9),randint(0, 9),randint(0, 9),randint(0, 9))

In [46]:
my_list3

[[32768],
 [729],
 [1],
 [4782969],
 [9],
 [279936],
 [387420489],
 [1],
 [16777216],
 [1]]

In [38]:
labels = ['x','y']

In [39]:
df = pd.DataFrame.from_records(my_list, columns = labels)
df

   x  y
0  9  1
1  3  8
2  4  6
3  1  0
4  4  9
5  6  9
6  4  6
7  0  7
8  4  8
9  1  1

In [40]:
df.assign(x_pot_y=df.x**df.y)

   x  y   x_pot_y
0  9  1         9
1  3  8      6561
2  4  6      4096
3  1  0         1
4  4  9    262144
5  6  9  10077696
6  4  6      4096
7  0  7         0
8  4  8     65536
9  1  1         1